In [1]:
# Trying out Investpy
import investpy

In [18]:
#Getting Stock Information
df = investpy.get_stock_historical_data(stock ='AAPL',
                                        country = 'United States',
                                        from_date = '01/01/2010',
                                        to_date = '01/01/2020')
df

             Open   High    Low  Close     Volume Currency
Date
2010-01-04   7.62   7.66   7.58   7.64  493728704      USD
2010-01-05   7.66   7.70   7.62   7.66  601904640      USD
2010-01-06   7.66   7.69   7.53   7.53  552158912      USD
2010-01-07   7.56   7.57   7.47   7.52  477129760      USD
2010-01-08   7.51   7.57   7.47   7.57  447876768      USD
...           ...    ...    ...    ...        ...      ...
2019-12-24  71.17  71.22  70.73  71.07   48479000      USD
2019-12-26  71.21  72.50  71.18  72.48   93336000      USD
2019-12-27  72.78  73.49  72.03  72.45  146372000      USD
2019-12-30  72.36  73.17  71.31  72.88  144238000      USD
2019-12-31  72.48  73.42  72.38  73.41  100991000      USD

[2517 rows x 6 columns]

In [20]:
#Getting Fund Information Step 1
# Use .search_quotes function to locate fund in investing.com website
search_result = investpy.search_quotes(text='Vanguard 500 Index Fund Admiral Shares ', products=['funds'],
                                       countries=['united states'], n_results=1)
print(search_result)

{"id_": 997364, "name": "Vanguard 500 Index Fund Admiral Shares", "symbol": "VFIAX", "country": "united states", "tag": "/funds/vanguard-500-index-admiral", "pair_type": "funds", "exchange": "US Funds"}

In [21]:
#Getting Fund Information Step 2
#Use .retrieve_historical_data function to pull out the history closing prices of the fund
historical_data = search_result.retrieve_historical_data(from_date='01/01/2019', to_date='01/01/2020')
historical_data

              Open    High     Low   Close  Change Pct
Date
2019-01-02  231.73  231.73  231.73  231.73        0.13
2019-01-03  226.06  226.06  226.06  226.06       -2.45
2019-01-04  233.82  233.82  233.82  233.82        3.43
2019-01-07  235.46  235.46  235.46  235.46        0.70
2019-01-08  237.74  237.74  237.74  237.74        0.97
...            ...     ...     ...     ...         ...
2019-12-24  297.38  297.38  297.38  297.38       -0.01
2019-12-26  298.93  298.93  298.93  298.93        0.52
2019-12-27  298.94  298.94  298.94  298.94        0.00
2019-12-30  297.25  297.25  297.25  297.25       -0.57
2019-12-31  298.14  298.14  298.14  298.14        0.30

[252 rows x 5 columns]

In [25]:
# Pull out some useful information from the fund
information = search_result.retrieve_information()
print(information)

{'rating': '', 'oneYearReturn': '36.96%', 'prevClose': 411.92, 'riskRating': '', 'ttmYield': '1.26%', 'roe': '31.55%', 'issuer': 'Vanguard', 'turnover': '1%', 'roa': '11.42%', 'inceptionDate': 'Nov 13, 2000', 'totalAssets': 431660000000, 'expenses': '0.04%', 'minInvestment': 3000, 'marketCap': 214840000000}

In [26]:
# Technical Indicators
technical_indicators = search_result.retrieve_technical_indicators(interval="daily")
print(technical_indicators)

              indicator     value           signal
0               RSI(14)   51.5430          neutral
1            STOCH(9,6)   39.8030             sell
2          STOCHRSI(14)   61.2770              buy
3           MACD(12,26)   -0.5700             sell
4               ADX(14)  100.0000       overbought
5           Williams %R  -37.9130              buy
6               CCI(14)    2.0880          neutral
7               ATR(14)    2.4879  high_volatility
8        Highs/Lows(14)    0.6171              buy
9   Ultimate Oscillator   43.7900             sell
10                  ROC   -1.7040             sell
11  Bull/Bear Power(13)    2.8000              buy

In [28]:
search_result = investpy.search_quotes(text='Ci Canadian All Cap Equity Income Fund F', products=['funds'],
                                       countries=['canada'], n_results=1)
print(search_result)

{"id_": 1021718, "name": "Ci Canadian All Cap Equity Income Fund F", "symbol": "0P0000M21B", "country": "canada", "tag": "/funds/sentry-all-cap-income-fund-series-f", "pair_type": "funds", "exchange": "Toronto"}

In [29]:
historical_data = search_result.retrieve_historical_data(from_date='01/01/2019', to_date='01/01/2020')
historical_data

             Open   High    Low  Close  Change Pct
Date
2019-01-02  4.471  4.471  4.471  4.471        0.06
2019-01-03  4.419  4.419  4.419  4.419       -1.17
2019-01-04  4.493  4.493  4.493  4.493        1.67
2019-01-07  4.527  4.527  4.527  4.527        0.76
2019-01-08  4.556  4.556  4.556  4.556        0.64
...           ...    ...    ...    ...         ...
2019-12-20  5.403  5.403  5.403  5.403        0.57
2019-12-23  5.402  5.402  5.402  5.402       -0.02
2019-12-24  5.411  5.411  5.411  5.411        0.16
2019-12-27  5.412  5.412  5.412  5.412        0.02
2019-12-30  5.380  5.380  5.380  5.380       -0.58

[249 rows x 5 columns]